{
	"server": {
		"token": {
			"signing_key": "SECRET KEY",
			"cookie": {
				"name": "COOKIE_NAME",
				"max_age": 3600,
				"path": "/",
				"domain": "localhost",
				"secure": false,
				"http_only": true,
				"same_site": "lax"
			},
			"header": {
				"name": "Authorization"
			}
		}
	},

	"oauth2": {
		"deep_links": {
			"web": "http://localhost:8008",
			"android": "renju24.java.com://path?token="
		},
		"google": {
			"client_id": "<CLIENT_ID>",
			"client_secret": "<CLIENT_SECRET>",
			"scopes": [],
			"callbacks": {
				"web": "/api/v1/oauth2/web/google/callback",
				"android": "/api/v1/oauth2/android/google/callback"
			},
			"api_url": "https://www.googleapis.com/oauth2/v2/userinfo?access_token="
		},
		"yandex": {
			"client_id": "<CLIENT_ID>",
			"client_secret": "<CLIENT_SECRET>",
			"scopes": [],
			"callbacks": {
				"web": "/api/v1/oauth2/web/yandex/callback",
				"android": "/api/v1/oauth2/android/yandex/callback"
			},
			"api_url": "https://login.yandex.ru/info?format=json"
		},
		"vk": {
			"client_id": "<CLIENT_ID>",
			"client_secret": "<CLIENT_SECRET>",
			"scopes": [],
			"callbacks": {
				"web": "/api/v1/oauth2/web/vk/callback",
				"android": "/api/v1/oauth2/android/vk/callback"
			},
			"api_url": "https://login.vk.ru/info?format=json"
		}
	}
}
